@font-face {
    font-family: 'Geometria';
    src: url('/src/fonts/geometria-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('/src/fonts/geometria-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('/src/fonts/geometria-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Geometria', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.App {
    padding-top: 100px;
}

